*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*build/
build*/
cmake-build-*/
.cache/
.metadata
.settings
.project
.cproject
.pydevproject
.scannerwork/
.vscode/
**/.idea/*
!**/.idea/dictionaries
!**/.idea/dictionaries/*
__pycache__/
*.pyo
*.pyc
